.contenedor-directorio{
    width: 100%;
}
.contenedor-directorio > h3{
    display: block;
    width: 90%;
    margin: auto;
    border-radius: 16px;
    text-align: center;
    margin-top: 70px;
    text-align: center;
    color: #ffff;
    background-color: #1b396a;
    padding: 20px;
}