.nav-menu {
    width: 0%;
    display: inline-block;
}

.menu-icono {
    margin-top: 5px;
    display: block;
    height: 35px;
    width: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.rayas {
    margin-top: 3px;
    height: 3px;
    width: 70%;
    background-color: rgb(0, 0, 0);
    transition: all 0.5s;
}

.menu-icono:hover>#raya2 {
    width: 0;
}

.menu-icono:hover>.rayas {
    position: absolute;
}

.menu-icono:hover>#raya1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    rotate: 45deg;
    align-self: center;
    transition: all 0.5s;
}

.menu-icono:hover>#raya3 {
    left: 50%;
    transform: translate(-50%, -50%);
    rotate: -45deg;
    transition: all 0.5s;
}

.overlay-menu {
    z-index: 1000;
    width: 0%;
    height: 100vh;
    position: absolute;
    background-color: rgba(169, 169, 169, 0.464);
    top: 0;
    visibility: hidden;
    transition: all 0.7s;
}

.overlay-menu>p {
    display: block;
    width: 70%;
    text-align: center;
    font-size: 1.5em;
    color: #1b396a;
    font-weight: 600;
}

.overlay-menu>ul {
    width: 70%;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}

.overlay-menu>ul>li {
    list-style: none;
    padding: 20px 5px;
    color: #fff;
    cursor: pointer;
}

.overlay-menu>ul>li:hover {
    background-color: #1b396a;
}

.overlay-menu>ul>li:hover .item-link{
    background: #1b396a;
    color: #fff;
}

.item-link {
    text-decoration: none;
    color: #1b396a;
    font-weight: 600;
    font-size: 1.2em;
}

@media (min-width: 500px) {
    .overlay-menu>ul {
        width: 20%;
    }

    .overlay-menu>p {
        width: 20%;
    }
}