.tabla {
    display: block;
    width: 90%;
    margin: auto;
    overflow-x: auto;
    box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, .75);
    border-radius: 16px;
    box-shadow: 0 0.275rem 0.75rem -0.0625rem rgb(19 16 34 / 6%), 0 0.125rem 0.4rem -0.0625rem rgb(19 16 34 / 3%);
    border: 1px solid #e2e5f1;
    word-wrap: break-word;
}

.fila-horario-header {
    width: fit-content;
    color: #1b396a;
    text-align: center;
    font-size: 1.1em;
    font-style: normal;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.fila-horario {
    width: fit-content;
    color: #fff;
}

.columna-horario {
    font-size: 15px;
    height: fit-content;
    background: rgb(255, 255, 255);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(5px);
    color: rgb(4, 4, 4);
    text-align: center;

}


.columna-horario:hover {
    cursor: pointer;
    box-shadow:
        inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    z-index: 1000;
}