.inicio {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.imgLogoDiv {
    width: 100%;
    height: 100px;
}

.imgLogo {
    display: block;
    height: 100%;
    width: 50%;
    content: url('./itsur.png');
    object-fit: contain;
    margin: auto;
}

.contenedor-redes {
    position: absolute;
    display: inline-block;
    top: 20px;
    right: 10px;
    background-color: transparent;
}

.icono-redes {
    margin: 10px;
    height: 30px;
    width: 20px;
    animation: redes 5s ease-in-out infinite;
}

.facebook {
    color: #1b396a;
}

.twitter {
    color: rgb(54, 185, 255);
    animation-delay: 1s;
}

.instagram {
    color: #E4405F;
    animation-delay: 2s;
}

.icono-redes:hover {
    cursor: pointer;
}

@keyframes redes {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

.tituloInicio {
    width: 100%;
    height: auto;
    color: rgba(0, 0, 0);
    text-align: center;
    background: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}
.titulo-plataforma {
    display: block;
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
    width: 100%;
    height: 100px;
    text-align: center;
}
.contenedor-plataformas {
    display: block;
    list-style: none;
    padding: 0;
    margin: 00;
    width: 90%;
    margin: auto;
    margin-top: -250px;
    word-break: break-all;
}



.contenedor-plataformas>li {
    display: flex;
    align-items: center;
    margin-left: 15px;
    width: 100%;
    background-color: #1b396a;
}

.contenedor-plataformas>li>p {
    margin: auto;
    background-color: #1b396a;
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
}

.icono-plataforma {
    height: 50px;
}



footer {
    display: none;

}


.imgFooter {
    min-height: 300px;
    max-height: 400px;
    width: 100%;
    content: url('./footer.png');
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
}

@media (min-width:500px) {
    .imgLogo {
        content: url('./header_logo_letras.jpg');
        width: 90%;
    }

    .icono-redes {
        border-radius: 1px;
    }

    .contendor-carrusel-plataformas{
        width: 90%;
        height: 150px;
        border: 1px solid #e2e5f1;
        padding: 10px;
        border-radius: 16px;
        margin: auto;
    }
    .contenido-carrousel-plataformas{
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        overflow: hidden;
        transition: all 0.5s;
        
    }
    .cuadro{
        width: 20%;
        height: 100%;
        background-color: #1b396a;
        margin-right: 15px;
        display: flex;
        justify-content: center;
        clip-path: polygon(100.00% 50.00%,50.00% 100.00%,0.00% 50.00%,50.00% 0.00%);
        animation: redes 5s ease-in-out infinite;
        margin-bottom: 20px;
        overflow: hidden;
    }
    .burbuja{
        width: 20%;
        height: 90%;
        background-color: hsl(216, 21%, 77%);
        margin-right: 15px;
        display: flex;
        justify-content: center;
        border-radius: 16px;
        animation: redes 5s ease-in-out infinite;
        margin-bottom: 20px;
        overflow: hidden;
    }
    .cuadro > img{
        width: 50%;
        height: 50%;
        align-self: center;
        background-color: #1b396a;
        transition: all 1s;
    }
    .burbuja > img{
        width: 50%;
        height: 50%;
        align-self: center;
        background-color: hsl(216, 21%, 77%);
        transition: all 1s;
    }
    .btn-izq{
        border: none;
        background-color: #E4405F;
        border-radius: 50%;
        font-size: 1.1em;
        font-weight: 600;
        position: absolute;
        top: 50%;
        left: 2%;
        transform: translate(-50%,-50%);
        z-index: 10;
        cursor: pointer;
    }
    .btn-dere{
        border: none;
        background-color: #E4405F;
        border-radius: 50%;
        font-size: 1.1em;
        font-weight: 600;
        position: absolute;
        right: 0%;
        top: 50%;
        transform: translate(-50%,-50%);
        z-index: 10;
        cursor: pointer;
    }
    .overlay-icono{
        width: 100%;
        height: 0%;
        visibility: hidden;
        background-color: #e4405e9b;
        position: absolute;
        transition: all 0.5s;
    }
    .overlay-icono > a {
        text-decoration: none;
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #e4405e29;
        color: rgb(244, 241, 252);
        font-weight: 700;
        cursor: pointer;
    }
    .burbuja:hover .overlay-icono{
        height: 100%;
        visibility: visible;
    }
    .cuadro:hover .overlay-icono{
        height: 100%;
        visibility: visible;
    }
    footer {
        width: 100%;

    }
}