.inicio {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.imgLogoDiv {
    width: 100%;
    height: 100px;
}

.imgLogo {
    display: block;
    height: 100%;
    width: 50%;
    content: url('./itsur.png');
    object-fit: contain;
    margin: auto;
}

.contenedor-redes {
    position: fixed;
    display: inline-block;
    top: 20px;
    right: 10px;
    background-color: transparent;
}

.icono-redes {
    margin: 10px;
    height: 30px;
    width: 20px;
    animation: redes 5s ease-in-out infinite;
}

.facebook {
    color: #1b396a;
}

.twitter {
    color: rgb(54, 185, 255);
    animation-delay: 1s;
}

.instagram {
    color: #E4405F;
    animation-delay: 2s;
}

.icono-redes:hover {
    cursor: pointer;
}

@keyframes redes {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

.tituloInicio {
    background-color: #1b396a;
    color: #e2e5f1;
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}
.titulo-plataforma {
    color: #1b396a;
    display: block;
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
    width: 100%;
    height: 100px;
    text-align: center;
    margin-top: 15px;
}
.contenedor-plataformas {
    display: block;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    word-break: break-all;
}



.contenedor-plataformas>li {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #1b396a;
}

.contenedor-plataformas>li>p {
    margin: auto;
    background-color: #1b396a;
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
}

.icono-plataforma {
    height: 50px;
}



footer {
    display: none;

}


.imgFooter {
    min-height: 300px;
    max-height: 400px;
    width: 100%;
    content: url('./footer.png');
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
}

@media (min-width:500px) {
    .imgLogo {
        content: url('./header_logo_letras.jpg');
        width: 100%;
    }

    .icono-redes {
        border-radius: 1px;
    }
    .tituloInicio{
        width: 50%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        height: 50px;
    }
    .contendor-cards-plataformas{
        width: 90%;
        height: auto;
        border: 1px solid #e2e5f1;
        padding: 10px;
        border-radius: 16px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .card-plataforma{
        width: 20%;
        height: auto;
        border: 1px solid #1b396a;
        margin-bottom: 20px;
        border-radius: 16px;
    }
    .card-plataforma > img {
        width: 40%;
        height: 50%;
        display: block;
        margin: auto;
        object-fit: contain;
    }
    .card-plataforma > a {
        display: block;
        text-align: center;
        text-decoration: none;
        color: rgb(223, 216, 216);
        font-weight: 700;
        font-size: 1em;
        background-color: #1b396a;
        cursor: pointer;
        width: 95%;
        border-radius: 16px;
        margin: auto;
        margin-top: 15px;
    }
    footer {
        width: 100%;

    }
}