.titulo{
    color: rgba(227,179,35,1);
    width: 100%;
    height: 30px;
    text-align: center;
    text-shadow: 1px 12px rgb(10, 20, 3);
    background: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 25px;
    font-size: 3em;
}
.noticias{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.articulo{
    width: 200px;
    height: 350px;
    background: rgba(189, 189, 189, 0.36);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    transition: all 0.7s;
    overflow: hidden;
}
.articulo:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px 0 rgba(227,179,35,1);
}

article > img {
    width: 100%;
    object-fit: fill;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.btn-noticias{
    transition: all 0.7s;
    display: block;
    margin: 50px auto;
    height: 40px;
    width: 85%;
    background: rgba(13, 8, 8, 0.36);
    color: white;
    border: none;
    border-radius: 5px;
}

.btn-noticias:hover{
    cursor: pointer;
    background: linear-gradient(45deg, rgb(164, 218, 128) 0%, rgba(27,43,59,1) 100%);
}
.popUpNews{
    position: absolute;
    z-index: 10;
    width: 80%;
    height: 90vh;
    background-color: rgb(185, 185, 185);
    margin: 50px;
    visibility: hidden;
}
.close-popup{
    display: inline-block;
    float: right;
    margin-top: -20px;
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 50%;
    background-color: rgb(206, 238, 0);
    font-size: 1.2em;
}
.close-popup > p{
    display: inline-block;
    background-color: rgb(206, 238, 0);
    margin-top: 10px;
    border-radius: 50%;
}
.close-popup:hover{
    cursor: pointer;
}

.papaPopUp{
    margin: auto;
    height: 80%;
    width: 100%;
}

.imagenPopUp{
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.textoPopUp{
    margin-top: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
}