.noticias{
    width: 100%;
}
.titulo{
    color: rgba(0,0,0);
    width: 100%;
    height: 30px;
    text-align: center;
    background: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 25px;
    font-size: 3em;
    margin-bottom: 50px;
}


.contenedor-noticias{
    width: 90%;
    height: 100%;
    margin: auto;
    border-radius: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid #e2e5f1;
    padding: 10px;
}
.card{
    width: 250px;
    height: 450px;
    word-wrap: break-word;
    background-color: #fff;
    border: 1px solid #e0e2eb;
    border-radius: 0.5rem;
    box-shadow: 0 0.275rem 0.75rem -0.0625rem rgb(19 16 34 / 6%), 0 0.125rem 0.4rem -0.0625rem rgb(19 16 34 / 3%);
    transition: all 0.7s;
    margin-top: 10px;
    position: relative;
    overflow-y: auto;
}
.card:hover{
    transform: scale(1.02);
    box-shadow: 0 0 8px 0 #1b396a;
}

.card > img {
    width: 100%;
    height: 50%;
    object-fit: fill;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.btn-noticias{
    transition: all 0.7s;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    display: block;
    height: 40px;
    width: 85%;
    background-color: #1b396a;
    color: white;
    border: none;
    border-radius: 5px;
}

.btn-noticias:hover{
    cursor: pointer;
    background-color: #254e8f;
}
.popUpNews{
    position: absolute;
    z-index: 10;
    width: 90%;
    height: auto;
    left: 50%;
    top: 55%;
    transform: translate(-50%,-50%);
    visibility: hidden;
    border-radius: 16px;
    border: 1px solid #1b396a;
}
.close-popup{
    position: absolute;
    right: -1%;
    top: -2%;
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 50%;
    background-color: #1b396a;
    font-size: 1.2em;
}
.close-popup > p{
    display: inline-block;
    background-color: #1b396a;
    color: #fff;
    margin-top: 10px;
    border-radius: 50%;
}
.close-popup:hover{
    cursor: pointer;
}

.papaPopUp{
    margin: auto;
    height: 50%;
    width: 100%;
}

.imagenPopUp{
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 16px 16px 0px 0px;
}

.textoPopUp{
    margin-top: 15px;
    text-align: center;
    color: rgb(5, 5, 5);
    background-color: #fff4f47a;
}
.card > p{
    color: #7e7e7e;
    text-align: center;
}
@media (min-width: 500px){
    .popUpNews{
        height: 90vh;
        top: 50%;
    }
    .papaPopUp{
        height: 80%;
    }
    .imagenPopUp{
        object-fit: fill;
    }
}