* {
  margin: 0;
  background: rgb(44,131,54);
  background: linear-gradient(45deg, rgba(44,131,54,0.7) 0%, rgba(27,43,59,0.8) 100%);
}
.app{
  display: flex;
}
::-webkit-scrollbar{
  width: 1px;
  background-color: rgba(227,179,35,1);
}