.conteiner-menu-plan {
    display: flex;
    width: 90%;
    border: 1px solid #e2e5f1;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 50px;
    border-radius: 16px;
}
.menu-plan { 
    width: 90%;
}
.menu-plan>ul {
    padding: 0;
    margin: 10px;
    list-style: none;
    border-radius: 16px;
    width: 100%;
}

.menu-plan>ul>li {
    display: block;
    padding: 10px 0px;
    width: 100%;
}
.icon-arrow-right {
    float: right;
    color: #1b396a;
}

.planInformation {
    position: fixed;
    width: 95%;
    height: 90vh;
    background-color: #edeff8;
    top: 10px;
    left: 10px;
    border-radius: 16px;
    visibility: hidden;
    opacity: 0;
    overflow-y: auto;
}
.titulo-plan, .close-popUp-plan{
    background-color: #1b396a;
    color: #fff;
    border-radius: 16px;
}
.titulo-plan {
    text-align: center;
    padding: 10px;
    font-weight: 700;
}
.close-popUp-plan{
    display: inline-block;
    font-weight: 800;
    font-size: 1.5em;
    position: absolute;
    top: 0;
    right: 10px;
}
.item-plan {
    background-color: #edeff8;
    padding: 10px;
    border-bottom: 1px solid #5995f6;
}
.area-title, .area-item {
    display: block;
    text-align: center;
    background-color: #edeff8;
}
.area-title{
    font-size: 1.2em;
}

.flecha-plan-estudio{
    background-color: #e2e5f105;
    color: #1b396a;
}
@media (min-width: 500px) {
    .conteiner-menu-plan {
        justify-content: space-between;
    }

    .menu-plan {
        width: 20%;
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;
    }

    .menu-plan>ul>li:hover {
        cursor: pointer;
        border-bottom: 1px solid #5995f6;
    }

    .planInformation {
        visibility: visible;
        position: relative;
        width: 75%;
        top:0;
        left: 0;
        opacity: 0;
        border-radius: 16px;
        transition: all 1s;
    }
    
}